body {
    margin: 0;
    padding: 0;
}

main {
    background: #FFFF99;
    margin:0;
    padding:0;
}

#header-container{
    width:100%;
    height:60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#FFB1C6;
}

#logo{
    width:48px;
    height:60px;
}

.search-container{
    display: flex;
    align-items :center;
    width:fit-content;
    height:48px;
    border: 1px solid #052E70;
    border-radius:25px;
    margin: 0 auto;
    background-color: #fff;

}

#search-bar{
    width: 750x;
    border: none;
    outline: none;
    background-color: transparent;
}

#search-btn{
    border-radius: 20px;
    border-color:transparent;
    margin-left: 10px;
    width:50px;
    cursor:pointer;
    display: flex;
    align-items:center;
    justify-content:center;
}

#search-btn:hover{
    background-color:#e67c00;
}

#search-bar, #search-btn{
    padding: 0 16px;
    height:35px;
    display: flex;
}


#results-container{
    width:95%;
    display: grid;
    justify-content:space-between;
    grid-template-columns:repeat(5, 1fr);
    gap: 10px;
    margin:auto;
    border-radius: 25px;
    border: 0px solid #052E70;
}

.card{
    border-radius: 10px;
    border: 1px solid #7A5C58;
    margin: 10px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    box-shadow: 1px 1px 1px 0.5px #7A5C58;
}

.card:hover{
    transform:scale(1.05);

}

.meal-name{
    text-align: center;
    height:3em;
    font-size:1.5em;
    padding: 0;
    margin: 8px 0 4px 0;
}

.meal-img{
    width:80%;
    height: 80%;
    max-width: 100%;
    padding-top:2px;
    border-radius: 8px;
    object-fit:cover;
}

.video-btn{
    /* im gonna have to add more stuff later, this is temporary*/
    padding-top: 2px;
    margin-bottom:2px;
    margin-top:2px;
}

.video-btn:hover{
    transform:scale(1.05);
    background-color:#e67c00;
}


.vid-wrapper{
    text-align:center;
    margin: 0 auto;
    width:80%;
    display:block;
    aspect-ratio: 16/9;
    border-radius:5px;
}

.meal-video{
    display:block;
    width:100%;
    aspect-ratio: 16/9;
    border:none;
}

.rest-wrapper{
    display:flex;
    flex-direction:row;
    gap:16px;
    width: 80%;
    height:auto;
    margin: 3px auto 0;
    border:1px solid #000;
    border-radius:5px;
}

.rest-wrapper span{
    width: 50%;
    height:auto;
    margin:5px;
    border: 1px solid #5E78EB;
}