#title{
    text-align: center;
    font-size: 1.5em;
}

.search-container{
    display: flex;
    align-items :center;
    width:fit-content;
    border: 1px solid #052E70;
    border-radius:25px;
    margin: 20px auto;
    background-color: #fff;

}

#search-bar{
    width: 750x;
    border: none;
    outline: none;
    background-color: transparent;
}

#search-btn{
    border-radius: 20px;
    margin-left: 10px;
    width:50px;
    cursor:pointer;
    display: flex;
    align-items:center;
    justify-content:center;
}

#search-btn:hover{
    background-color:#e67c00;
}

#search-bar, #search-btn{
    padding: 0 16px;
    height:35px;
    display: flex;
}

#results-container{
    
    width:1300px;
    height:1000px;
    display: grid;
    justify-content:space-between;
    grid-template-columns:repeat(5, 1fr);
    gap: 5px;
    margin:20px auto;
    border-radius: 25px;
    border: 1px solid #052E70;
}

.card{
    border-radius: 10px;
    border: 1px solid #5E78EB;
    margin: 20px 20px;
    width: 200px;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.meal-name{
    text-align: center;
    font-size:1.2em;
    padding: 0;
    margin: 8px 0 4px 0;
}

.meal-img{
    width:100%;
    max-width: 180px;
    padding-top:2px;
    border-radius: 8px;
    object-fit:cover;
}

.video-btn{
    /* im gonna have to add more stuff later, this is temporary*/
    padding-top: 2px;
    margin: 4px auto 10px;
}